<div class="container">
  <h1>Do you even password?</h1>
  <form name="login_user" method="post" action="/validator">
    <input type="text" name="user[name]" placeholder="user name">
    <input type="text" name="user[password]" placeholder="password">
    <input type="submit" value="Log in with this button by clicking your mouse on it once"
  </form>
</div>
