<div class="container">
  <h1>Do you even password?</h1>
  <form method="get" action="/secret">
    <input type="text" name="user[name]" placeholder="user name">
    <input type="text" name="user[password]" placeholder="password">
    <input 
  </form>
</div>
