<div class="container">
  <h1>Do you even password, bro?</h1>
  <form name="login_user" method="post" action="/validator">
    <input type="text" name="name" placeholder="user name">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Log in with this button by clicking your mouse on it once">
  </form>

  <a href="/user/new">Sign Up</a>
</div>
