<div class="container">
  <h1>Do you even password?</h1>
  <form name="sign_up" method="post" action="/user">
    <input type="text" name="name" placeholder="user name">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Sign up with this button by clicking your mouse on it once">
  </form>

</div>
